body {
  font-family: sans-serif;
}

svg  rect.bordered {
  stroke: white;
  stroke-width: 2px;
}

text.mono {
  font-size: 9pt;
  font-family: sans-serif;
  fill: #795548;
}

/*.legend {
  font-size: 9pt;
  font-family: sans-serif;
  fill: black;
}*/

/*text.axis-workweek {
  fill: #000;
}

text.axis-week {
  fill: #000;
}*/
